html{overflow-x: hidden;}

body{
   background-image: url(images/picture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
h1 {
    color:goldenrod;
}

blockquote{
    font-style: italic;
    font-size: 1.5em;
    background-color: aqua;
    padding: 2em;
    opacity: .6;
}

p{
    font-family: 'Yatra One', cursive;
    color: springgreen;
    font-size: 1.4em
}